body {

    background-color: #191970;

}

#tehlulz {

    color: #E6E6FA;
    
}

.extreme { /* foo heading 1 */

    color: #48D1CC;
    letter-spacing: 0.5em;
    text-align: center;
    text-transform: uppercase;

}

.navzone { /* nav foo */

    color: #E6E6FA;
    letter-spacing: 0.3em;
    text-align: center;

}

.content { /* main foo heading */

    color: #E6E6FA;
    letter-spacing: 0.3em;
    text-align: center;

}

.prose { /* text */

    color: #FF00FF;

}
