body {

background-image: url("http://www.wallpaperup.com/uploads/wallpapers/2013/01/15/29733/big_thumb_0b0f16bfb2e94f5728443c5c8ca0d413.jpg");
color: #ffa500;
text-transform: uppercase;
line-height: 2;

}

h1 { /* foo heading 1 */

color: #ff0000;
letter-spacing: 0.7em;
text-align: center;

}

h2 { /* main foo heading */

color: #dc143c;
letter-spacing: 0.7em;
text-align: center;

}

h3 { /* nav foo */

color: #dc143c;
letter-spacing: 0.7em;
text-align: center;

}

li {

color: #ffa500;

}