body { /* overall */

    background-color: #90DDF0;

}


.top { /* top of the page */

    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.3em;
    font-family: Palatino, Backerville, Georgia;
    font-style: italic;
    font-size: 125%;
    text-shadow: -1px 0 #B8CDF8, 0 1px #B8CDF8, 1px 0 #B8CDF8, 0 -1px #B8CDF8;
    color: #1F487E;

}


.story { /* the story */

    background-color: #FFC09F;
    text-align: center;

}


.story:hover { /* hover over the story */

    background-color: #FFD700;
    
}


.analysis { /* the analysis */

    background-color: #BEB8EB;

}


.analysis:hover { /* hover over the analysis */

    background-color: #FFD700;
    
}


.source { /* the sources */

    background-color: #7BE0AD;

}


.source:hover { /* hover over the sources */

    background-color: #FFD700;
    
}


#heading { /* headings */

    color: #29339B;
    letter-spacing: 0.3em;
    text-decoration: underline;

}


#content { /* text */

    color: #36413E;

}


#quote { /* quotes */

    color: #5CC8FF;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-style: italic;
    text-align: center;
    font-size: 150%;
    line-height: 2;

}


#sourceList { /* source list */

    list-style-type: circle;

}