body {

    background-image: url("http://www.wallpaperup.com/uploads/wallpapers/2013/01/15/29733/big_thumb_0b0f16bfb2e94f5728443c5c8ca0d413.jpg");
    text-transform: uppercase;
    line-height: 2;

}

#tehlulz {

    color: #E6E6FA;
    
}

.extreme { /* foo heading 1 */

    color: #ff0000;
    letter-spacing: 0.7em;
    text-align: center;

}

.navzone { /* nav foo */

    color: #dc143c;
    letter-spacing: 0.7em;
    text-align: center;

}

.content { /* main foo heading */

    color: #dc143c;
    letter-spacing: 0.7em;
    text-align: center;

}

.prose { /* text */

    color: #ffa500;

}